<!DOCTYPE html>
<html>
<head>
    <title>Doucheswag</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
</head>
<body>

<div class="container">

{{> _user_menu.html }}
