<ul class="nav nav-pills">
    <li><a href="/">home</a></li>

    {{# current_user }}
    <li class="pull-right"><a href="/logout">logout</a></li>
    <li class="disabled pull-right"><a>{{id}}</a></li>
    {{/ current_user }}

    {{^ current_user }}
    <li class="pull-right"><a href="/login">login</a></li>
    {{/ current_user }}
</ul>
