<h1>{{ auction.name }}</h1>

{{> _user_menu.html }}

{{# auction.highestBid }}
    <p>Highest bid: {{ . }}</p>
{{/ auction.highestBid }}

{{# auction.highestBidder }}
    <p>Highest bid: {{ . }}</p>
{{/ auction.highestBidder }}
