{{% FILTERS }}
{{> _header.html }}

{{%FILTERS}}

<h1>Listing auctions</h1>

<table class="table">
<thead>
    <th>Name</th>
    <th>Highest bid</th>
    <th>Highest bidder</th>
    <th>Ends</th>
</thead>
<tbody>
{{# auctions }}
    <tr>
        <td><a href="/auction/{{ id }}">{{ name }}</a></td>
        <td>{{ highestBid.getAmount | money_amount }}</td>
        <td>{{ highestBidder }}</td>
        <td>{{ endingAt | format_date }}</td>
    </tr>
{{/ auctions }}
</tbody>
</table>

{{> _footer.html }}
