{{> _header.html }}

<h1>Login</h1>

{{# errors }}
<div class="alert alert-error">
    {{ . }}
</div>
{{/ errors }}

<form method="POST" action="">
    <label>Email:</label>
    <input type="text" name="email" value="{{ email }}"/>
    <label>Password:</label>
    <input type="password" name="password" />
    <label></label>
    <input type="submit" value="Login" class="btn" />
</form>

{{> _footer.html }}
